.latest_products{
    padding: 0 0;
}
.latest_products .card_area{
    box-shadow: 0 9px 18px 0 rgb(0 0 0 / 10%);
    border-radius: 16px;
    margin-bottom: 2rem;
}
.latest_products .section_heading h2{
    color: #2d3748;
    font-size: 2.0243rem;
    font-weight: bold;
    line-height: 2;
}
.latest_products .section_heading p{
    color:#718096;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.latest_products .text_area{
    padding:24px;
}
.latest_products .text_area h3 {
    color: #2d3748;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 6px;
}
.latest_products .img_area {
    height: 290px;
    padding: 24px 24px 0px 24px;
    position: relative;
    background: #e8eaf6;
    display: flex;
    align-items: center;
    border-radius: 16px 16px 0 0;
    overflow:hidden;
}
.bg_orange{
    background:#f9b934 !important;
}
.latest_products .img_area img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.latest_products h4 {
    color: #3f51b5;
    font-size: 1.25rem;
    font-weight: bold;
}
.latest_products .cart{
    background:#3f51b5;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-bottom: none;
}
.latest_products .cart:hover{
    background: rgb(17, 82, 147);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
.latest_products .all_list{
    color:#3f51b5;
    border:1px solid rgba(63, 81, 181, 0.5);
}
.latest_products .all_list:hover{
    color:#3f51b5;
    border: 1px solid #3f51b5;
    background-color: rgba(63, 81, 181, 0.04);
}
.latest_products .all_list:focus{
    outline: none;
    box-shadow: none;
}
.latest_products .margin_bottom{
    margin-bottom: 5rem;
}