.testimonial{
    background:#115293;
    padding:5rem 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -4rem;
}
.container_padding{
    padding: 0 9.1%;
}
.testimonial .section_heading h2{
    color: #FFFFFF;
    font-size: 2.0243rem;
    font-weight: 700;
    line-height: 2;
}
.testimonial .section_heading p{
    color:#FFFFFF;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.card_area_testimonial{
    border-radius: 16px;
    margin-bottom: 2rem;
    background:rgb(247, 249, 250);
    padding:2rem;
}

.header_area {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 16px 16px 0 0;
    overflow:hidden;
    margin-bottom: 20px;
}
.header_img {
    width: 100px;
    height: 100px;
}
.header_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    text-indent: 10000px;
    border-radius: 8px;
}
.header_title{
    padding-left: 1rem;
}
.header_title h3{
    color: #2d3748;
    font-size: 18px;
}
.header_title p{
    color:#718096;
    font-size: 0.875rem;
}
.card_area_testimonial .text_area h3{
    color:#2d3748;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2;
}
.text_area q{
    color: #2d3748;
    font-size: 1rem;
}